<body>
    <header>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
            integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
            crossorigin="anonymous"></script>
        <!--Am folosit instructiunea *ngIf pentru a conditiona aparitia navbarului doar in momentul in care un utilizator este logat -->
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <img class="logo" src="assets/icons/bckground.png">
                    <a class="navbar-brand" routerLink="/welcome">FlyBird</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar1">
                            <li class="nav-itemL">
                                <a *ngIf="!(storageService.isUserLoggedIn() || storageService.isAdmingLoggedIn())"
                                    class="login" routerLink="/login">Login</a>
                            </li>
                            <li class="nav-itemL">
                                <a *ngIf="(storageService.isUserLoggedIn() || storageService.isAdmingLoggedIn())"
                                    class="logout" (click)="userLogout()" routerLink="">Logout</a>
                            </li>
                            <li class="nav-itemR">
                                <a *ngIf="!(storageService.isUserLoggedIn() || storageService.isAdmingLoggedIn())"
                                    class="register" routerLink="/register">Register</a>
                            </li>
                        </ul>
                        <ul class=" navbar-nav">
                            <li class="nav-item">
                                <a *ngIf="storageService.isAdmingLoggedIn()" class="nav-link" href="/addFlight">Add
                                    Flight</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/search">BOOK</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/mybookings">PLAN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/fly">FLY</a>
                            </li>
                            <li ngbDropdown class="nav-item">
                                <a href (click)="false" class="nav-link" ngbDropdownToggle>INFO</a>
                                <ul ngbDropdownMenu class="dropdown-menu">
                                    <ul class="drop" ngbDropdownItem routerLink="/aircraft">AirCraft Fleet
                                        <li class="aircraftmodel"><a routerLink="/boeng757">Boeing 757</a></li>
                                        <li class="aircraftmodel"><a routerLink="/airbus330">Airbus 330</a></li>
                                    </ul>
                                    <ul class="drop" ngbDropdownItem routerLink="/aircraft">Travel Classes
                                        <li class="aircraftmodel"><a routerLink="/economy">Economy Class</a></li>
                                        <li class="aircraftmodel"><a routerLink="/premium">Premium Economy Class</a>
                                        </li>
                                        <li class="aircraftmodel"><a routerLink="/business">Business Class</a></li>
                                    </ul>
                                    <ul class="drop" ngbDropdownItem routerLink="/aircraft">Services
                                        <li class="aircraftmodel"><a routerLink="/food">Meal/Menu</a></li>
                                    </ul>
                                    <!-- <ul class="drop" ngbDropdownItem routerLink="/aircraft">AirCrafts
                                        <li class="aircraftmodel"><a routerLink="/boeng727">Boeing 727</a></li>
                                        <li class="aircraftmodel"><a routerLink="/boeng767">Boeing 767</a></li>
                                    </ul> -->
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</body>