.container {
    max-width: 100%;
    width: 140rem;
}

.navbar {
    background-color: #595959;
    height: 130px;
    font-size: x-large;
}

.logo {
    padding-top: 28px;
    width: 170px;
    position: absolute;
    padding-left: 0px;
}


.navbar-brand {
    padding-top: 40px;
    color: #19cc82;
    padding-left: 120px;
    font-size: 40px;
}

.navbar-nav {
    padding-left: 1100px;
    height: 74px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #19cc82;
}

.nav-item {
    padding-top: 36px;
    padding-left: 20px;
}

.navbar1 {
    list-style-type: none;
    font-size: large;
    position: absolute;
    margin-left: 50px;
    margin-bottom: 70px;
    padding-left: 1280px;
    height: 30px;
    width: 10px;

}

.navbar1 li {
    display: inline;
}

.nav-itemL {
    height: 44.35px;
    padding-right: 30px;
}

.nav-itemR {
    width: 44.35px;
    padding-left: 0px;
}

.login {
    text-decoration: none;
    color: white;
}

.logout {
    text-decoration: none;
    color: white;
}


.register {
    text-decoration: none;
    color: white;
}

.login:hover {
    color: #19cc82;

}

.logout:hover {
    color: #19cc82;
}

.register:hover {
    color: #19cc82;
}

.nav-link:focus {
    color: #19cc82;
}

.dropdown-menu {
    min-width: 55rem;
    min-height: 40rem;
    right: 0px;
    left: auto;
    background-color: #595959;
}

.drop {
    display: inline-block;
    overflow: hidden;
}

.drop {
    font-size: x-large;
    color: #19cc82;
    background-color: #595959;
}

.drop:hover,
.drop:focus {
    cursor: pointer;
}

.dropdown-menu ul {
    width: 130px;
    height: 91px;
    margin-left: 35px;
    margin-right: 50px;

}



.aircraftmodel {
    list-style-type: none;
    font-size: large;
    width: 100px;
}

.aircraftmodel a {
    text-decoration: none;
    width: 10px;
    color: whitesmoke;
}

.aircraftmodel a:hover {
    text-decoration: underline;
}



@media screen and (max-width:2700px) {
    .container {
        max-width: 100%;
        width: 110rem;
    }

    .navbar {
        background-color: #595959;
        height: 130px;
        font-size: x-large;
    }

    .logo {
        padding-top: 28px;
        width: 170px;
        position: absolute;
        padding-left: 0px;
    }


    .navbar-brand {
        padding-top: 40px;
        color: #19cc82;
        padding-left: 120px;
        font-size: 40px;
    }

    .navbar-nav {
        padding-left: 800px;
        height: 74px;
    }

    .nav-link {
        color: white;
    }

    .nav-link:hover {
        color: #19cc82;
    }

    .nav-item {
        padding-top: 36px;
        padding-left: 20px;
    }

    .navbar1 {
        list-style-type: none;
        font-size: large;
        position: absolute;
        margin-left: 50px;
        margin-bottom: 70px;
        padding-left: 960px;
        height: 30px;
        width: 10px;

    }

    .navbar1 li {
        display: inline;
    }

    .nav-itemL {
        height: 44.35px;
        padding-right: 30px;
    }

    .nav-itemR {
        width: 40.35px;
        padding-left: 0px;
    }

    .login {
        text-decoration: none;
        color: white;
    }

    .logout {
        text-decoration: none;
        color: white;
    }


    .register {
        text-decoration: none;
        color: white;
    }

    .login:hover {
        color: #19cc82;

    }

    .logout:hover {
        color: #19cc82;
    }

    .register:hover {
        color: #19cc82;
    }

    .nav-link:focus {
        color: #19cc82;
    }

    .dropdown-menu {
        min-width: 52rem;
        min-height: 10rem;
        right: 0px;
        left: auto;
        background-color: #595959;
    }

    .drop {
        display: inline-block;
        overflow: hidden;
        padding-right: 120px;
    }

    .drop {
        font-size: large;
        color: #19cc82;
        background-color: #595959;
    }

    .drop:hover,
    .drop:focus {
        cursor: pointer;
    }

    .dropdown-menu ul {
        width: 210px;
        height: 150px;
        margin-left: 60px;
        margin-right: 0px;
        padding-right: 200px;

    }




    .aircraftmodel {
        list-style-type: none;
        font-size: large;
        width: 100px;
    }

    .aircraftmodel a {
        text-decoration: none;
        width: 10px;
        color: whitesmoke;
    }

    .aircraftmodel a:hover {
        text-decoration: underline;
    }

}