<app-navbar></app-navbar>
<main *ngIf="blogPost$ | async as blogPost">
    <!-- <pre>{{blogPost | json}}</pre>> -->
    <div class="post-container">
        <img [src]="blogPost.fields.img.fields.file.url" alt="">
        <h2>{{blogPost.fields.title}}</h2>
        <p class="content">
            <markdown>
                {{blogPost.fields.description.content[0].content[0].value}}
            </markdown>
            <markdown>
                {{blogPost.fields.description.content[1].content[0].value}}
            </markdown>
    </div>
</main>