.carousel {
    text-align: center;
    padding: 0px 500px;
    margin: auto;
    left: 50px;
    width: 100%;
}

.carousel-item {
    padding-left: 200px;
}

.card {
    height: 350px;
}

.menu {
    position: absolute;
    height: 200px;
    width: 375px;
    border-radius: 5px 5px 0 0;
    right: 0px;
    bottom: 150px;
}

.news {
    position: absolute;
    height: 198px;
    width: 374px;
    border-radius: 5px 5px 0 0;
    right: 0px;
    bottom: 150px;

}

.travel {
    position: absolute;
    height: 198px;
    width: 375px;
    border-radius: 5px 5px 0 0;
    right: 0px;
    bottom: 150px;

}

.card-title {
    position: relative;
    padding-top: 190px;
    font-size: medium;
    font-weight: bold;
}


.link {
    color: #149f65;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.search-box {
    background: whitesmoke;

    margin-left: 300px;
    width: 1000px;
    height: 200px;
}

.form-inline {

    width: 200px;
    height: 80px;
    margin-top: 20px;
    padding-top: 60px;
    margin-left: 300px;
}


@media screen and (max-width:2600px) {


    .carousel {
        text-align: center;
        padding: 0px 0px;
        width: 75%;
        margin: auto;
        left: 0px;
        right: 30px;
    }


    .carousel-item {
        padding-left: 865px;
        /* right: 200px; */
        right: 1000px;
    }

    .row {
        /* padding-left: 150px; */
        /* padding-right: 500px; */
        width: 1450px;
        left: 1200px;
    }

    .col-sm-3 {
        margin-left: 60px;
    }

    .card {
        height: 350px;
        width: 376.5px;
        padding-right: 30px;
    }

    .menu {
        position: absolute;
        height: 200px;
        width: 375px;
        border-radius: 5px 5px 0 0;
        right: 0px;
        bottom: 150px;
    }

    .news {
        position: absolute;
        height: 198px;
        width: 374px;
        border-radius: 5px 5px 0 0;
        right: 0px;
        bottom: 151px;

    }

    .travel {
        position: absolute;
        height: 198px;
        width: 376px;
        border-radius: 5px 5px 0 0;
        bottom: 151px;
        left: 0px;
    }

    .card-title {
        position: relative;
        padding-top: 190px;
        font-size: medium;
        font-weight: bold;
    }


    .link {
        color: #149f65;
        text-decoration: none;
    }

    .link:hover {
        text-decoration: underline;
    }

    .search-box {
        background: whitesmoke;
        margin-left: 300px;
        width: 1000px;
        height: 200px;
    }

    .btn {
        margin-top: 20px;
    }


    .form-inline {

        width: 200px;
        height: 80px;
        margin-top: 20px;
        padding-top: 60px;
        margin-left: 300px;
    }

}