<app-navbar></app-navbar>

<body>
    <div class="container">
        <h1 class="title">Business Class</h1>
        <div class="container-wrapper">
            <div class="top-text">
                <!-- to do schimbat text-->
                <p class="text">
                    Enjoy your trip with all the benefits in Austrian Business Class. Of course, you will also be
                    perfectly catered for by our crew on both long and short flights.
                </p>
            </div>
            <img class="economy" src="assets/icons/businessclass.jpg">
            <div class="mid-text">
                <h2>Services valid for short and long distances</h2>
                <p class="text">Whether travelling for business, a city break, visiting family or a trip to the beach –
                    your reasons
                    to travel are individual to you, and so are your needs on board. With our service, we want to ensure
                    you feel comfortable on board.</p>
                <div class="row mx-auto my-auto">
                    <div id="myCarousel" class="carousel slide">
                        <div role="listbox">
                            <div class="carousel-item py-5 active">
                                <div class="row" id="row2">
                                    <div class="col-sm-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <img class='internet' src="/assets/icons/freelounge.jpg">
                                                <h4 class="card-title">Free lounge</h4>
                                                <p class="card-text">
                                                    Use the free lounge access for your stay at the airport.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <img class='menu' src="assets/icons/businessclass.jpg">
                                                <h4 class="card-title">Separete Section</h4>
                                                <p class="card-text">Relax in the separate section of the plane in our
                                                    comfortable extra legroom seats with a free adjacent seat.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <img class='seatlogo' src="/assets/icons/exclusivemenu.jpg">
                                                <h4 class="card-title">Exclusive menus</h4>
                                                <p class="card-text">Treat your palate to exclusive menus</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>