.container {
    position: sticky;
    bottom: 0px;
    background-color: #595959;
    color: whitesmoke;
    max-width: 100%;
    width: 140rem;
    padding-left: 1100px;
}


@media screen and (max-width:2600px) {
    .container {
        position: sticky;
        bottom: 0px;
        background-color: #595959;
        color: whitesmoke;
        max-width: 100%;
        width: 140rem;
        padding-left: 750px;
    }
}