<app-navbar></app-navbar>

<body>
    <div class="container">
        <h1 class="title">Economy Class</h1>
        <div class="container-wrapper">
            <div class="top-text">
                <!-- to do schimbat text-->
                <p class="text">
                    Arrive relaxed at your destination with our Economy Class. Our crew will serve you meals and drinks
                    both on short and long-haul flights, and our entertainment programme will help you pass the time
                    until landing.
                </p>
            </div>
            <img class="economy" src="assets/icons/economyclass.jpg">
            <div class="mid-text">
                <h2>Services valid for short and medium distances</h2>
                <p class="text">Whether travelling for business, a city break, visiting family or a trip to the beach –
                    your reasons
                    to travel are individual to you, and so are your needs on board. With our service, we want to ensure
                    you feel comfortable on board.</p>
                <div class="row mx-auto my-auto">
                    <div id="myCarousel" class="carousel slide">
                        <div role="listbox">
                            <div class="carousel-item py-5 active">
                                <div class="row" id="row2">
                                    <div class="col-sm-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <img class='internet' src="/assets/icons/internetaircraft.jpg">
                                                <h4 class="card-title">Internet on board</h4>
                                                <p class="card-text">
                                                    Stay connected with your loved ones using the internet inside the
                                                    aircraft.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <img class='menu' src="assets/icons/food.jpg">
                                                <h4 class="card-title">Our Menu</h4>
                                                <p class="card-text">In our company you will find a wide variety of
                                                    cranes to enjoy
                                                    during the flight.</p>
                                                <a class="link" routerLink="/food">Take a look at the menu</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <img class='seatlogo' src="assets/icons/seatlogo.jpg">
                                                <h4 class="card-title">Seat comfort</h4>
                                                <p class="card-text">Ergonomic seats with a unique relax function ensure
                                                    more comfort on long-haul flights.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <img class='menu' src="assets/icons/productsflight.jpg">
                                                <h4 class="card-title">Onboard shopping</h4>
                                                <p class="card-text">Discover the exclusive product range in our onboard
                                                    magazine and benefit from advantageous duty-free prices.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>