.container {
    max-width: 100%;
    width: 130rem;
}

.title {
    margin-top: 100px;
    font-size: 60px;
    font-weight: 500;
}

.top-text {
    width: 1400px;
}

.text {
    font-size: x-large;
    line-height: 3.2rem;
    margin-bottom: 2.4rem;
    margin-top: 2.4rem;
    font-weight: 450;
}

.b757 {
    width: 1700px;
    height: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h2 {
    padding-top: 80px;
    font-size: 40px;
    font-weight: 500;
}

.table {
    width: 700px;
    font-size: x-large;
    margin-left: 60px;
    margin-top: 70px;
}

.td1 {
    font-weight: 450;
}

.td2 {
    font-weight: 300;
    background-color: #F0F0F0;
}

.td2:hover {
    background-color: #DCDCDC;
}

.td1 {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.td2 {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;

}


h3 {
    padding-top: 60px;
    font-size: 40px;
    font-weight: 500;
}

.seatmap757 {
    margin-bottom: 100px;
    margin-top: 50px;
    width: 1700px;
    height: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*Redimensionare*/

@media screen and (max-width:2700px) {
    .container {
        width: 20rem;
        margin-left: 2px;
        padding-left: 80px;
    }

    .title {
        margin-top: 70px;
        font-size: 30px;
        font-weight: 500;
    }

    .top-text {
        width: 1500px;
    }

    .text {
        font-size: large;
        line-height: 1.8rem;
        margin-bottom: 2.4rem;
        margin-top: 2.4rem;
        font-weight: 450;
        padding-right: 520px;
    }

    .b757 {
        width: 850px;
        height: 600px;
        margin-left: 300px;
        margin-right: 0px;
        display: block;
    }

    h2 {
        padding-top: 40px;
        font-size: 28px;
        font-weight: 500;
    }

    .table {
        width: 500px;
        font-size: large;
        margin-left: 60px;
        margin-top: 70px;
    }

    .td1 {
        font-weight: 500;
    }

    .td2 {
        font-weight: 300;
        background-color: #F0F0F0;
    }

    .td2:hover {
        background-color: #DCDCDC;
    }

    .td1 {
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
    }

    .td2 {
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;

    }


    h3 {
        padding-top: 60px;
        font-size: 28px;
        font-weight: 500;
    }

    .seatmap757 {
        margin-bottom: 100px;
        margin-top: 50px;
        width: 1100px;
        height: 600px;
        margin-left: 150px;
        margin-right: auto;
        display: block;
    }

    .carousel {
        text-align: center;
        padding: 0px 0px;
        width: 75%;
        margin: auto;
        left: 0px;
        right: 30px;
    }


    .carousel-item {
        padding-left: 865px;
        /* right: 200px; */
        right: 1000px;
    }

    .row {
        /* padding-left: 150px; */
        /* padding-right: 500px; */
        width: 1450px;
        left: 1200px;
        margin-top: 50px;
    }

    .col-sm-3 {
        margin-left: 60px;

    }

    .card {
        height: 350px;
        width: 376.5px;
        padding-right: 30px;
        border: none;
    }

    .seat-logo {
        position: relative;
        height: 170px;
        width: 170px;
        border-radius: 5px 5px 0 0;
        right: 0px;
        bottom: 20px;
    }



    .screen-logo {
        position: relative;
        height: 170px;
        width: 190px;
        border-radius: 5px 5px 0 0;
        right: 0px;
        bottom: 30px;

    }

    .usb-logo {
        position: relative;
        height: 170px;
        width: 140px;
        border-radius: 5px 5px 0 0;
        bottom: 10px;
        left: 0px;
    }

    .card-text {
        /* position: relative; */
        padding-bottom: 40px;
    }

    .card-title {
        position: relative;
        padding-top: 190px;
        font-size: medium;
        font-weight: bold;
    }


    .link {
        color: #149f65;
        text-decoration: none;
    }

    .link:hover {
        text-decoration: underline;
    }

    .search-box {
        background: whitesmoke;
        margin-left: 300px;
        width: 1000px;
        height: 200px;
    }

    .btn {
        margin-top: 20px;
    }


    .form-inline {

        width: 200px;
        height: 80px;
        margin-top: 20px;
        padding-top: 60px;
        margin-left: 300px;
    }

}