<app-navbar></app-navbar>

<body>
    <div class="container">
        <h1 class="title">Boeing 757</h1>
        <div class="container-wrapper">
            <div class="top-text">
                <p class="text">
                    The Boeing 757 is an American narrow-body airliner that was developed and produced by Boeing
                    Commercial Airplanes.
                    The 757 was used for many domestic flights and on many international flights within its range.
                </p>
            </div>
            <img class="b757" src="assets/icons/b757.jpg">
            <div class="mid-text">
                <h2>Specifications</h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="td1">Crew</td>
                            <td class="td2">2</td>
                        </tr>
                        <tr>
                            <td class="td1">Passengers</td>
                            <td class="td2">Mixed Class 200 / Single</td>
                        </tr>
                        <tr>
                            <td class="td1">Propulsion</td>
                            <td class="td2">2</td>
                        </tr>
                        <tr>
                            <td class="td1">Engine Model</td>
                            <td class="td2">Pratt & Whitney PW2037</td>
                        </tr>
                        <tr>
                            <td class="td1">Speed</td>
                            <td class="td2">918 km/h</td>
                        </tr>
                        <tr>
                            <td class="td1">Range</td>
                            <td class="td2">7,250 km</td>
                        </tr>
                        <tr>
                            <td class="td1">Length</td>
                            <td class="td2">47.3 metres</td>
                        </tr>
                        <tr>
                            <td class="td1">Total Production</td>
                            <td class="td2">1,050</td>
                        </tr>
                        <tr>
                            <td class="td1">Empty Weight</td>
                            <td class="td2">57,840 kg</td>
                        </tr>
                        <tr>
                            <td class="td1">max. Takeoff Weight</td>
                            <td class="td2">115,680 kg</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="bottem-text">
                <h3>Seat map</h3>
                <img class="seatmap757" src="assets/icons/Seatmap757.png">
            </div>
        </div>



    </div>
</body>