<!-- <div class="form-header">
    <form class="form-header" onsubmit="return false;" method="get">
        <input #myInput class="au-input au-input-xl" type="text" placeholder="From"
            (keyup.enter)="doSearch(myInput.value)" />
        <button class="au-btn-submit" (click)="doSearch(myInput.value)">
            Search
        </button>
    </form>
</div> -->
<!-- <header>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script> -->
<!-- <nav class="navbar navbar-expand-md navbar-dark"> -->
<!-- <table mat-table [dataSource]="FlightDetails" class="mat-elevation-z8"> -->

<!-- Position Column -->
<!-- <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container> -->

<!-- Name Column -->
<!-- <ng-container matColumnDef="leavingfrom">
            <th mat-header-cell *matHeaderCellDef> leavingfrom </th>
            <td mat-cell *matCellDef="let element"> {{element.leavingfrom}} </td>
        </ng-container> -->

<!-- Description Column -->
<!-- <ng-container matColumnDef="arrivingat">
            <th mat-header-cell *matHeaderCellDef> arrivingat </th>
            <td mat-cell *matCellDef="let element"> {{element.arrivingat}} </td>
        </ng-container> -->

<!-- Author Column -->
<!-- <ng-container matColumnDef="leavingdate">
            <th mat-header-cell *matHeaderCellDef> leavingdate </th>
            <td mat-cell *matCellDef="let element"> {{element.leavingdate}} </td>
        </ng-container> -->

<!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</header> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="Stylesheet" type="text/css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <title>FlyBird</title>
</head>

<body>
    <section class="banner" id="top">
        <div class="container">

            <div id="search-form">
                <div id="header">
                    <h1>Get Your Flight</h1>
                </div>

                <div class="flight" id="flightbox">

                    <form id="flight-form" name="form" (ngSubmit)="onSubmit()">


                        <!-- FROM/TO -->
                        <div id="flight-depart">
                            <div class=" info-box ">
                                <label for=" ">LEAVING FROM</label>
                                <select id="dep-from" required [(ngModel)]="form.leavingfrom" name="leavingfrom"
                                    #leavingfrom="ngModel">
                                    <option value="Bucharest">Bucharest</option>
                                    <option value="Cluj">Cluj</option>
                                </select>

                            </div>
                        </div>
                        <div class="info-box " id="arrive-box ">
                            <label for=" ">ARRIVING AT</label>
                            <select id="dep-to" required [(ngModel)]="form.arrivingat" name="arrivingat" #arrivingat="ngModel">
                                    <option value="Londra">Londra</option>
                                    <option value="Paris">Paris</option>
                                    <option value="Sinaia">Sinaia</option>
                                    </select>

                        </div>
                        <div id="flight-search ">
                            <div>
                                <button type="submit" class="info-box " id="btn1">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="Data"> -->
    <table class="table" *ngIf="result?.length>0">
        <thead>
            <tr>
                <th>Id: </th>
                <th>Departure Location: </th>
                <th>Arrival Location: </th>
                <th>Date: </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let flight of result">
                <td>{{ flight.id }}</td>
                <td>{{ flight.leavingfrom }}</td>
                <td>{{ flight.arrivingat }}</td>
                <td>{{ flight.leavingdate }}</td>
            </tr>
        </tbody>
    </table>
    <!-- </section> -->

</body>

</html>