/* .Data {
    background-color: #409b75;
    width: 96.3%;
    height: 50%;
    margin-left: 20px;
    text-align: center;
} */

.table {
    border-radius: 5px;
    background-color: #149f65;
}

.info-box input[type=text],
input[type=submit],
select {
    border: none;
    outline: none;
    background: #e7e9e9;
    width: 100%;
    padding: 5px;
    height: 30px;
    border-radius: 3px;
}

#btn1:hover {
    background-color: #149f65;
}

* {
    box-sizing: border-box;
}

.flight {
    padding: 10px;
}

.info-box {
    padding: 5px 0;
    margin-top: 40px;
    flex: 1;
    border-right: 0px solid transparent;
}

.info-box:last-child {
    border-right: none;
}

#flight-info {
    display: flex;
}

#btn1 {
    background: #149f65;
    color: white;
    padding: 7px;
    height: 50px;
    font-size: 1.2em;
    bottom: 9px;
    display: flex;
    justify-content: center;
    width: 95%;
    margin-right: 10px;
    border-radius: 5px;
}

#flight-depart {
    display: flex;
    /* justify-content: space-between; */
}


#flight-depart .info-box {
    position: relative;
}

.info-box #leavingdate {
    background: #e7e9e9;
    margin-top: 0px;
    width: 658px;
    text-align: center;
    border-style: none;
    margin-left: 140px;
}

.info-box .title-leavingon {
    margin-left: 145px;
}

.info-box .title-arrivingat {
    margin-left: 5px;
}

tr {
    color: white;
}