.Data {
    background-color: #CBE4FE;
    width: 96.3%;
    height: 50%;
    margin-left: 20px;
    text-align: center;
}

.table {
    border-radius: 5px;
    background-color: #5094e1;
}

.info-box input[type=text],
input[type=submit],
select {
    border: none;
    outline: none;
    background: #C1DCF9;
    width: 100%;
    padding: 5px;
    height: 30px;
    border-radius: 3px;
}

#flight-info {
    display: flex;
    border-bottom: 1px dotted silver;
}


#flight-depart {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted silver;
}

#flight-depart .info-box {
    position: relative;
    margin: 5px;
}

.info-box #leave-date {
    background: #C1DCF9;
    margin-top: 7px;
    width: 658px;
    text-align: center;
    border-style: none;
}

#btn1:hover {
    background-color: #3b77c0;
}

* {
    box-sizing: border-box;
}

.flight {
    padding: 20px;
}

.info-box {
    padding: 10px 0;
    margin-top: 41px;
    flex: 1;
    border-right: 0px solid transparent;
}

.info-box:last-child {
    border-right: none;
}

.info-box:last-child {
    border-right: none;
}

.info-box input[type=text],
input[type=submit],
select {
    border: none;
    outline: none;
    background: #C1DCF9;
    width: 100%;
    padding: 5px;
    height: 30px;
    border-radius: 3px;
}

#flight-info {
    display: flex;
    border-bottom: 1px dotted silver;
}

#btn1 {
    background: #4388DB;
    color: white;
    padding: 10px;
    height: 50px;
    font-size: 1.2em;
    bottom: 9px;
    display: flex;
    justify-content: center;
    width: 95%;
    margin-right: 10px;
    border-radius: 5px;
}

#flight-depart {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted silver;
}


#flight-depart .info-box {
    position: relative;
    margin: 5px;
}

.info-box #leavingdate {
    background: #C1DCF9;
    margin-top: 7px;
    width: 658px;
    text-align: center;
    border-style: none;
}

tr {
    color: whitesmoke;
}