<app-navbar></app-navbar>

<body>
    <div class="container">
        <h1 class="title">Premium Economy Class</h1>
        <div class="container-wrapper">
            <div class="top-text">
                <!-- to do schimbat text-->
                <p class="text">
                    Premium Economy Class is our travel class with extra comfort on long-haul flights. Enjoy numerous
                    advantages such as an extra-wide seat with an increased tilt angle for a relaxing flight.
                </p>
            </div>
            <img class="economy" src="assets/icons/premiumeconomyclass.jpg">
            <div class="mid-text">
                <h2>Additional services</h2>
                <p class="text">In addition to our extra comfortable seats, you can expect many additional facilities on
                    our long-haul flights. So you can lean back relaxed and enjoy your time on board.</p>
                <div class="row mx-auto my-auto">
                    <div id="myCarousel" class="carousel slide">
                        <div role="listbox">
                            <div class="carousel-item py-5 active">
                                <div class="row" id="row2">
                                    <div class="col-sm-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <img class='internet' src="/assets/icons/premiumeconomyclass.jpg">
                                                <h4 class="card-title">Culinary highlights</h4>
                                                <p class="card-text">
                                                    You will receive a welcome drink for refreshment after boarding.
                                                    Once at flying altitude, our staff will served a three to
                                                    four-course meal with a selection of three main courses. You will be
                                                    served a breakfast or a snack depending on the time of day on
                                                    landing.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <img class='menu' src="assets/icons/luxury.jpg">
                                                <h4 class="card-title">Luxurious extras</h4>
                                                <p class="card-text">You don’t have to restrict yourself with luggage
                                                    thanks to our enhanced baggage allowances. You will receive a
                                                    Premium Economy Class Amenity Kit on board with a sleep mask,
                                                    toothbrush and other useful items.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <img class='seatlogo' src="assets/icons/seetcomf.jpg">
                                                <h4 class="card-title">Extra comfortable seats</h4>
                                                <p class="card-text">In our Premium Economy Class, you can expect a
                                                    modern seat that you can adjust to your individual needs. You will
                                                    enjoy a high level of comfort thanks to a wider seat area, foot
                                                    supports and adjustable head support.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>