<!DOCTYPE html>
<html lang="en">
<app-navbar></app-navbar>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="Stylesheet" type="text/css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <title>FlyBird</title>
</head>

<form (ngSubmit)="onSubmit()">
    <div class="container">

        <div id="header">
            <h1>Book a Flight</h1>
        </div>

        <div id="form-group">
            <label> Leaving From</label>
            <input type="text" class="form-control" id="id" [(ngModel)]="flight.leavingfrom" name="leavingfrom">
        </div>
        <div id="form-group">
            <label> Arriving At</label>
            <input type="text" class="form-control" id="id" [(ngModel)]="flight.arrivingat" name="arrivingat">
        </div>
        <div id="form-group">
            <label> Flight Id</label>
            <input type="text" class="form-control" id="id" [(ngModel)]="flightId" name="id">
        </div>
        <div id="form-group">
            <label> User Id</label>
            <input type="text" class="form-control" id="id" [(ngModel)]="userId" name="userid">
        </div>
        <div id="form-group">
            <label> Leaving Date</label>
            <input type="text" class="form-control" id="id" [(ngModel)]="flight.leavingdate" name="leavingdate">
        </div>
    </div>

    <div id="boarding-passes">
        <h3>Boarding Passes</h3>
        <table>
            <tr>
                <th>Full Name</th>
                <th>Identify Card</th>
                <th></th>
            </tr>
            <tr *ngFor="let boardingPass of boardingPasses; let i = index;">
                <td><input type="text" [(ngModel)]="boardingPass.name" name="fullName_{{i}}"></td>
                <td><input type="text" [(ngModel)]="boardingPass.identifycard" name="identifyCard_{{i}}"></td>
                <td><button type="button" (click)="removeBoardingPass(i)">Remove</button></td>
            </tr>
        </table>
        <button type="button" (click)="addBoardingPass()">Add Boarding Pass</button>
    </div>
    <button type="submit" class="button2 btn btn-primary btn-block mb-4">Book</button>
</form>