<app-navbar></app-navbar>

<body>
    <div class="container">
        <h1 class="title">Boeing 757</h1>
        <div class="container-wrapper">
            <div class="top-text">
                <p class="text">
                    The A330-200 is out premium passenger aircraft with cutting-edge technology & fuel efficient
                    mechanism.
                    From passengers charters to humanitarian missions, the A330 flies business
                    executives, holiday goers and military personnel, responding to humanitarian crisis across the
                    globe.
                    With a reliable and versatile operational capability and global netowrk, the A330 offers flexible
                    travel schedules and plans as per our cutomers requirements.
                </p>
            </div>
            <img class="a330" src="/assets/icons/Airbus330.jpg">
            <div class="mid-text">
                <h2>Specifications</h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="td1">Crew</td>
                            <td class="td2">2</td>
                        </tr>
                        <tr>
                            <td class="td1">Passengers</td>
                            <td class="td2">Mixed Class 253 / Single</td>
                        </tr>
                        <tr>
                            <td class="td1">Propulsion</td>
                            <td class="td2">2</td>
                        </tr>
                        <tr>
                            <td class="td1">Engine Model</td>
                            <td class="td2">Pratt & Whitney PW4000</td>
                        </tr>
                        <tr>
                            <td class="td1">Speed</td>
                            <td class="td2">918 km/h</td>
                        </tr>
                        <tr>
                            <td class="td1">Range</td>
                            <td class="td2">7,400 km</td>
                        </tr>
                        <tr>
                            <td class="td1">Length</td>
                            <td class="td2">63.69 metres</td>
                        </tr>
                        <tr>
                            <td class="td1">Total Production</td>
                            <td class="td2">680</td>
                        </tr>
                        <tr>
                            <td class="td1">Empty Weight</td>
                            <td class="td2">109,000 kg</td>
                        </tr>
                        <tr>
                            <td class="td1">max. Takeoff Weight</td>
                            <td class="td2">227,000 kg</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="containter">
                <!-- <div class="search-box">
                    <app-flight-search></app-flight-search>
                </div> -->
                <h2>Extras</h2>
                <div class="row mx-auto my-auto">
                    <div id="myCarousel" class="carousel slide">
                        <div role="listbox">
                            <div class="carousel-item py-5 active">
                                <div class="row" id="row2">
                                    <div class="col-sm-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <img class='seat-logo' src="/assets/icons/seat-logo.png">
                                                <p class="card-text">Extra-wide seats in Premium Economy Class</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <img class='screen-logo' src="/assets/icons/screen-logo.jpg">
                                                <p class="card-text"> Touch-screen entertainment in all travel classes
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <img class="usb-logo" src="/assets/icons/usb-logo.png">
                                                <p class="card-text">Integrated two USB ports at all seats</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottem-text">
                <h3>Seat map</h3>
                <img class="seatmap757" src="/assets/icons/A330.png">
            </div>
        </div>



    </div>
</body>